{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<script>
	$().ready(function () {
		$('.buttongood').click(function () {
			window.location.href = 'question32';
		})
	})
	$().ready(function () {
		$('.buttonbad').click(function () {
			window.location.href = 'question32bad';
		})
	})

</script>

<div class="bg-modal">
	<div class="animated">


		<div class="modal-contents">
			<h4>How often do you check your bank account?</h4>

			<div class="multiple-choice">
				<button class="buttongood">Pretty often</button>
				<button class="buttongood">Ocassionally</button>
				<button class="buttonbad">Never</button>
				<button class="buttonbad">I have a bank account?</button>
			</div>

		</div>
	</div>

</div>

{% endblock %}