{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div>
	<div style="float: left; width: 25%;">
		<h1></h1>
	</div>
	<div style="float: left; width: 50%;" class="container">
		<div class="wrapper">
			<div class="title">

				<a href="/">
					<img src="/static/blue.jpg" width: 6% alt="Main Logo" class="logo">
				</a>
			</div>
			<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.js"></script>
			<script type="text/javascript">
				function sum() {
					var incomeTotal = document.getElementById('incomeTotal').value;
					var debtTotal = document.getElementById('debtTotal').value;

					var rent = 1600;
					if (document.getElementById('rent').value != 0) {
						rent = document.getElementById('rent').value;
					}

					var propTaxes = 190;
					if (document.getElementById('propTaxes').value != 0) {
						propTaxes = document.getElementById('propTaxes').value;
					}

					var power = 90;
					if (document.getElementById('power').value != 0) {
						power = document.getElementById('power').value;
					}

					var waterSewer = 72;
					if (document.getElementById('waterSewer').value != 0) {
						waterSewer = document.getElementById('waterSewer').value;
					}

					var garbagerecycling = 14;
					if (document.getElementById('garbagerecycling').value != 0) {
						garbagerecycling = document.getElementById('garbagerecycling').value;
					}

					var bundlepackagecable = 104;
					if (document.getElementById('bundlepackagecable').value != 0) {
						bundlepackagecable = document.getElementById('bundlepackagecable').value;
					}

					var carpayment = 280;
					if (document.getElementById('carpayment').value != 0) {
						carpayment = document.getElementById('carpayment').value;
					}

					var carpayment2 = document.getElementById('carpayment#2').value;

					var autoinsurance = 140;
					if (document.getElementById('autoinsurance').value != 0) {
						autoinsurance = document.getElementById('autoinsurance').value;
					}
					var gasoline = 150;
					if (document.getElementById('gasoline').value != 0) {
						gasoline = document.getElementById('gasoline').value;
					}

					var groceries = 200;
					if (document.getElementById('groceries').value != 0) {
						groceries = document.getElementById('groceries').value;
					}

					var personalcarehomeitems = 80;
					if (document.getElementById('personalcarehomeitems').value != 0) {
						personalcarehomeitems = document.getElementById('personalcarehomeitems').value;
					}

					var ideal_monthly = 0.025 * parseInt(debtTotal); //apparently?
					var income_monthly = parseFloat(incomeTotal) / 12;
					income_monthly = income_monthly - rent - propTaxes - power - waterSewer - garbagerecycling - bundlepackagecable
						- carpayment - carpayment2 - autoinsurance - gasoline - groceries - personalcarehomeitems;

					var result = ideal_monthly;
					if (income_monthly < ideal_monthly) { //cant pay more than ya got
						result = income_monthly;
					}

					if (!isNaN(result)) {

						if (result > 0) {
							document.getElementById('quotenum').innerHTML = result.toFixed(2) + ' /mo.';
						}
						else {
							document.getElementById('quotenum').innerHTML = 'Bankruptcy';
						}
					}


				}
			</script>

			<div class="quote">
				<h3>Your quote will get more precise with more information:</h3>
				<h1 id="quotenum">TBD /mo.</h1>
			</div>
			<ul class="steps">
				<li class="is-active">Step 1</li>
				<li>Step 2</li>
				<li>Step 3</li>
				<li>Step 4</li>
				<li>Step 5</li>
				<li>Step 6</li>
				<li>Step 7</li>
				<li>Step 8</li>
				<li>Step 9</li>
				<li>Step 10</li>
			</ul>
			<form class="form-wrapper" method="post" action="http://localhost:5000/submitform">
				<fieldset class="section is-active">
					<h3>Your Name</h3>
					<input type="text" name="firstname" id="firstname" placeholder="First Name">
					<input type="text" name="lastname" id="lastname" placeholder="Last Name">
					<div class="button">Next</div>
				</fieldset>
				<fieldset class="section">
					<h3>Financial Information</h3>
					<input type="text" name="incomeTotal" id="incomeTotal" placeholder="Annual Income" onkeyup="sum()">
					<input type="text" name="debtTotal" id="debtTotal" placeholder="Total Debt" onkeyup="sum()">
					<div class="button">Next</div>
				</fieldset>
				<fieldset class="section">
					<h3>Housing Information</h3>
					<input type="text" name="rent" id="rent" placeholder="Monthly Rent" onkeyup="sum()">
					<input type="text" name="propTaxes" id="propTaxes" placeholder="Property Taxes" onkeyup="sum()">
					<input type="text" name="phone" id="phone" placeholder="Home/Mobile Phone">
					<div class="button">Next</div>
				</fieldset>
				<fieldset class="section">
					<h3>Utilities</h3>
					<input type="text" name="power" id="power" placeholder="Electric/Gas/Oil" onkeyup="sum()">
					<input type="text" name="waterSewer" id="waterSewer" placeholder="Water/Sewer" onkeyup="sum()">
					<input type="text" name="garbagerecycling" id="garbagerecycling" placeholder="Garbage/Recycling"
						onkeyup="sum()">
					<input type="text" name="bundlepackagecable" id="bundlepackagecable"
						placeholder="Bundle Package/ Cable" onkeyup="sum()">
					<div class="button">Next</div>
				</fieldset>
				<fieldset class="section">
					<h3>HealthCare</h3>
					<input type="text" name="prescriptions" id="prescriptions" placeholder="Prescriptions">
					<input type="text" name="doctorvisits" id="doctorvisits" placeholder="Doctor Visits">
					<div class="button">Next</div>
				</fieldset>
				<fieldset class="section">
					<h3>Food</h3>
					<input type="text" name="groceries" id="groceries" placeholder="Groceries" onkeyup="sum()">
					<input type="text" name="personalcarehomeitems" id="personalcarehomeitems"
						placeholder="Personal Care/Home Items" onkeyup="sum()">
					<div class="button">Next</div>
				</fieldset>
				<fieldset class="section">
					<h3>Automobile</h3>
					<input type="text" name="carpayment" id="carpayment" placeholder="Car Payment">
					<input type="text" name="carpayment#2" id="carpayment#2" placeholder="Car Payment #2">
					<input type="text" name="autoinsurance" id="autoinsurance" placeholder="Auto Insurance">
					<input type="text" name="gasoline" id="gasoline" placeholder="Gasoline">
					<div class="button">Next</div>
				</fieldset>
				<fieldset class="section">
					<h3>Miscellaneous</h3>
					<select name="others" id="others">
						<option value="select">Select</option>
						<option value="donations">Charitable Donations</option>
						<option value="tuition">Education/Tuition/Supplies</option>
						<option value="entertainment">Entertainment & Recreation</option>
						<option value="subscriptions">Electronic Subscriptions</option>
						<option value="petexpense">Pet Expense</option>
						<option value="jobthings">Job Related Expenses/Tools/Uniforms</option>
						<option value="laundry">Laundry/Dry Cleaning</option>
						<option value="storageunit">Storage Unit</option>
						<option value="emergencysavings">Emergency/Savings</option>
						<option value="gymmembership">Gym Membership</option>
						<option value="clothing">Clothing/Accessories</option>
						<option value="lifeinsurance">Life Insurance</option>
						<option value="othermisc">Other Misc</option>
					</select>
					<div class="button">Next</div>
				</fieldset>
				<fieldset class="section">
					<h3>What are you looking for?</h3>
					<div class="row cf">
						<div class="four col">
							<input type="radio" name="r1" id="r1" checked>
							<label for="r1">
								<h4>Debt Management</h4>
							</label>
						</div>
						<div class="four col">
							<input type="radio" name="r1" id="r2"><label for="r2">
								<h4>Education & Tools</h4>
							</label>
						</div>
						<div class="four col">
							<input type="radio" name="r1" id="r3"><label for="r3">
								<h4>Counseling</h4>
							</label>
						</div>
					</div>
					<div class="button">Next</div>
				</fieldset>
				<fieldset class="section">
					<section class="container-email">
						<section class="one">
							<div class="logo-mail">
								<img src="https://www.flaticon.com/svg/static/icons/svg/1060/1060370.svg">
							</div>
							<h2 class="heading">
								Please send us your email address
							</h2>
							<p> We will get back to you within 3 business days
							</p>
							<form>
								<input type='text' placeholder="enter your email"><br />
								<input class=" btn" role="button" type="submit" value="Get Started">
							</form>
						</section>
						<section class="two">
							<h3>
								thank you for subscribing !
							</h3>
							<div class="close">
							</div>
						</section>
					</section>
				</fieldset>
			</form>
		</div>
	</div>
	<div style="float: left; width: 25%;">
		<div class="tipbox">
			<h4 class="tip-text" id="tips">Tell us about yourself! We are excited to help you.</h4>
		</div>
		<img src="/static/tipman.png" alt="Tip man" class="tipman">
	</div>
</div>
{% endblock %}