{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h1 class="thank-you">Thank you!</h1>

<section class="container-email">
	<section class="one">
		<div class="logo-mailbox">
			<img src="https://www.flaticon.com/svg/static/icons/svg/2343/2343618.svg" width=60%>
		</div>
		<p class="email-p"> We will get back to you within 3 business days<br><br>
			This is your first step to a better financial future.
		</p>
		</form>
	</section>
</section>
<a href="/">
	<button class="button-home btn-email">Return Home</button>
</a>
{% endblock %}