{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h1 class="thank-you">Thank you!</h1>

<section class="container">
	<section class="one">
		<div class="logo-mail">
			<img src="https://www.flaticon.com/svg/static/icons/svg/1060/1060370.svg">
		</div>
		<h2 class="heading">
			Please send us your email address
		</h2>
		<p> We will get back to you within 3 business days
		</p>
		<form>
			<input type='text' placeholder="enter your email"><br />
			<button class="btn" role="button">
				Send
			</button>
		</form>
	</section>
	<section class="two">
		<h3>
			thank you for subscribing !
		</h3>
		<div class="close">
		</div>
	</section>
</section>
{% endblock %}